
h1,h2,h3,h4{
    margin: 0;
}
p{margin: 0;}
ul {
    list-style: none;
    padding: 0;
}
a{text-decoration: none;}
*{
    font-family: 'Poppins', sans-serif;
}

body{margin: 0;
    
}
.container {
    margin: 0;
    max-width: 1200px;
        width: 100%
}


/* header*/
.header__container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
        justify-content: space-between;
    
}
.header{
    position: relative;
    width: 100%;
    

}
.header__logo{
    margin-bottom: 15px;
}

.nav__name{
    margin: 35px 30px 0px 30px;
    width: 56px;
    color: #444;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        text-decoration: none;
}
.nav{
    margin-top: 15px;
}



/*Section hero*/
.hero{
    margin-bottom: 130px;
}
.hero__logo{
    display: flex;

        background-image: url(./img/grac.jpg);
        background-size: cover;
        justify-content: center;
        background-repeat: no-repeat;
        height: 880px;
        align-items: center;
        flex-direction: column;
        text-align: center;

    
}
.hero__title{
    color: #45525B;
        font-family: Poppins;
        font-size: 29px;
        font-style: normal;
        font-weight: 500;
        line-height: 36.8px;
}
.hero__mom{
    width: 64px;
    height: 64px;
    border: 2px solid #444;
    border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 200px;

}
.hero__link{
width: 20px;

}

/* Section bro*/
.bro{
    margin-bottom: 88px;
}
.bro__inner{
    width: 570px;
    text-align: left;
}
.bro__suptitle{
    color: #FF8A63;
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.6px;
        letter-spacing: 2px;
        text-transform: uppercase;
}
.bro__title{
    color: #45525B;
        text-align: center;
        font-family: Poppins;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 43.2px;
}
.bro__subtitle{
    color: #6F7278;
        text-align: center;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 21.6px;
        width: 561px;
        margin-bottom: 30px;
        
}
.bro__wrapper{ 
    display: flex;
        width: 1000px;
        height: 600.516px;
        padding: 0px 178px;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
}

.left__block{
width: 480px;
    height: 588px;
    flex-shrink: 0;
    border-radius: 30px;
    background: url(./img/IMAGE\ \(2\).jpg);
}
        
        .bro__img{
        background: #45525B;
        width: 48px;
            height: 48px;
            flex-shrink: 0;
        }
        .bro__title3{width: 179px;width: 179px;color: #45525B;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 19.6px;
            letter-spacing: 2px;
            text-transform: uppercase;}
            .bro__text{
                color: #6F7278;
                    font-family: Poppins;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 19.6px;
                    
            }


/* Section one*/
.one{
 background-image: url("./img/bg.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 height: 624px;
 margin-bottom: 105px;
}
/* Section */
.section{margin-bottom: 200px;}
.section__header-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}


.section__suptitle{
    width: 164px;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FF8A63;

}
.section__title{
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 43.2px;
    width: 551px;
    color: #45525B;

}

.section__content-list{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    
}
.section__text-itam{
    color: #6F7278;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 21.6px;
        margin-bottom: 30px;
    width: 300px;

}
.section__content-img{
    width: 358px;
        flex-shrink: 0;
}
.section__content-title3{
    color: #6F7278;
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.8px;
        letter-spacing: 2px;
        text-transform: uppercase;
}
.section__content-title2{
    color: #45525B;
        text-align: center;
        font-family: Poppins;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        
}
.section__content-text{
    
    color: #45525B;
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.8px;
        }
        
.section__content-list2{
    display: flex;
    justify-content: center;
    gap: 31px;
}
.itam2{
    display: flex;
    justify-content: center;
    gap: 8px;
}
/* team*/
.team{
    margin-bottom: 100px;
}
.team__wrapper{
    display: flex;
    justify-content: center;
    gap: 64px;
    align-items: center;
}
.team__list{

}
.team__item{
    display: inline-flex;
        padding-right: 0px;
        align-items: center;
        gap: 8px;

}
.team__title{
    width: 72px;
    color: #45525B;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22.4px;
        

}
.team__text{
    color: #6F7278;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16.8px;
        /* 140% */
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 155px;

}
/*section Newsroom*/
.Newsroom{
    margin-bottom: 100px;

}
.Newsroom__list{
display: flex;
    width: 1200px;
    padding: 0px 16px;
    justify-content: center;
    gap: 20px;

}
.Newsroom_inner{
text-align: center;
}
.Newsroom{
    background: #FAFAFC;


}
.Newsroom__text{
color: #FF8A63;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 128px;
    margin-bottom: 8px;
}
.Newsroom__title{
width: 219px;
color: #45525B;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19.2px;
    margin-bottom: 30px;
}
.Newsroom__text2{
    color: #6F7278;
        font-family: Poppins;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.6px;
        


}
/*section coment*/
.coment{margin-bottom: 100px;}
.coment__inner{

    display: flex;
    justify-content: space-between;
        align-items: center;
        gap: 32px;


}
.coment__list{

width: 569px;
    height: 286px;
    flex-shrink: 0;
    border-radius: 4px;
        border: 1px solid rgba(82, 80, 59, 0.10);
        background: #FFF;
        padding: 30px;


}
.coment__itam{
    margin-bottom: 6.5px;

}
.coment__title{
    color: #333;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 28.8px;
        width: 357px;
        margin-bottom: 11px;
}
.coment__text{
    color: #333;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 22.4px;
        width: 509px;
        margin-bottom: 19px;
}
.coment__text2{
    color: #45525B;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
width: 137px;}
/*none*/
.none{
    background: #45525B;
    padding:  100px 0;
}
.none__title{
    text-align: center;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 43.2px;
    color: #FFF;
    margin-bottom: 11px;
    
}
.none__inner{
    width: 574px;
    margin: 0 auto;

}
.none__text{
    width: 574px;
    color: #FAFAFC;
        text-align: center;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24.6px;
        
}
.btn__blok{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.none__btn{
    border-radius: 6px;
        background: #FFF;
        width: 122px;
            height: 44px;
            flex-shrink: 0;
            cursor: pointer;
            box-shadow: none;
}
/*footer*/
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #292c32;
}

.footer__logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 75px;
}

.footer__link {
    margin-top: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    /* 140% */
    color: #fff;
}

.footer__email {
    width: 90%;
    height: 53px;
    padding-left: 34px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    background: #f9fafb;
}

.footer__email::placeholder {
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    /* 140% */
    color: #6f7278;
}

.footer__form {
    display: flex;
    padding: 25px;
    margin-top: 10px;
    background-color: #fafafc;
    border-radius: 8px;
    gap: 20px;
    flex-direction: column;
    width: 450px;
}

.footer__btn {
    /* position: absolute;
  top: 10px;
  left: 34.5%; */
    border: none;
    cursor: pointer;
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    /* 140% */
    padding: 8px;
    border-radius: 10px;
    background: #3a4443;
}

.footer__form label {
    font-family: Poppins;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    /* 140% */
    color: #3a4443;
}

.footer__checkbox {
    width: 40px;
}

.footer__list {
    display: flex;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    flex-direction: column;
}

.footer__link2 {
    width: 450px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
}

.footer__text {
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    /* 140% */
}

.footer__socials {
    display: flex;
    gap: 20px;
}

